/* reset */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
/* style */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
strong, b {
	font-weight: bold;
}
em, i {
   font-style: italic;
}
.container {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
	min-height: 100%;
	background-color: hsl(0, 0%, 97%);
}
.logo-container {
	width: 100%;
	background-color: hsl(0, 0%, 92%);
	padding: 5px;
}
.logo {
	margin: 0 auto;
	height: 50px;
	display: block;
}
.text-container {
	width: 100%;
	padding: 0 1em;
}
.text-container img {
	max-width: 100%;
}
.edit-link {
	transform: scaleX(-1);
	float: right;
	font-size: 25px;
	display: block;
	color: #777;
	text-decoration: none;
	transition: color .2s;
}
.edit-link:hover {
	color: #000;
}
img.wide-image {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: block;
}
li.done {
	text-decoration: line-through;
	list-style-type: none;
}
li.done:before {
	padding: 2px;
	color: #33AA33;
	content: "\2713";
	margin-left: calc(-1em - 2px);
	margin-right: 2px;
	text-decoration: none;
	display: inline-block;
}
code {
	font-family: 'M+ 1mn';
	font-size: 0.9em;
   white-space: pre;
}
/* Specification Stuff */
.note {
	margin: 0;
	padding: 1px 20px;
	border-left: 10px solid orange;
	background-color: rgba(255, 165, 0, 0.2);
	color: rgb(84, 54, 0);
}
.sig {
	font-size: 0.8em;
	opacity: 0.7;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sig::before {
	content: ' — ';
}
th, td {
	padding: 5px;
}
