/* reset */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
/* style */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
strong {
	font-weight: bold;
}
.container {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
	min-height: 100%;
	background-color: hsl(0, 0%, 97%);
}
.logo-container {
	width: 100%;
	background-color: hsl(0, 0%, 92%);
	padding: 5px;
}
.logo {
	margin: 0 auto;
	height: 50px;
	display: block;
}
.text-container {
	width: 100%;
	padding: 0 1em;
}
.text-container img {
	max-width: 100%;
}
.edit-link {
	transform: scaleX(-1);
	float: right;
	font-size: 25px;
	display: block;
	color: #777;
	text-decoration: none;
	transition: color .2s;
}
.edit-link:hover {
	color: #000;
}
