<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.github.owner_name }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/style.css">
</head>
<body>
	<div class="container">
		<div class="logo-container">
			<a href="{{ site.github.url }}"><img src="{{ site.github.url }}/img/logo.svg" class="logo"></a>
		</div>
		<div class="text-container">
			<a href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.url | replace: '.html', '.md' }}" class="edit-link">&#x270E;</a>
			{{ content }}
		</div>
	</div>
</body>
</html>
